.display-pokemons {
  padding: 30px;
  margin: 0 auto;
  width: 70%;
}

.image {
  width: 95%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-display {
  font-size: 1.5vw;
  font-weight: lighter;
}