.individual-root {
  margin: auto;
	margin-top: 6rem;
  width: 95%;
  height: 650px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
	background: rgb(204, 108, 108);
	border-radius: 8px;
}

.individual-container {
  border-radius: 10px;
  width: 30%;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: gray;
	background-color: blanchedalmond;
	margin-top: 1rem;
	margin-left: 1.5rem;
}

.image-container {
  width: 100%;
  margin-bottom: 1.7rem;
}

.image-individual {
  margin: 0 auto;
  width: 295px;
  height: auto;
  border-bottom: 1px solid rgba(#777, 0.1);
  padding: 8px;
}

.text-info{
  font-size: 1.7vw;
  font-family: Cairo, sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.text-info-id{
  font-size: 2vw;
  font-family: Cairo, sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.text-info-stats-name{
	font-size: 1.45vw;
  font-family: Cairo, sans-serif;
  letter-spacing: 3px;
  font-weight: 530;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
	color: white;
}

.text-info-stats{
	font-size: 1.45vw;
  font-family: Cairo, sans-serif;
  letter-spacing: 3px;
  font-weight: 480;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
	color: black;
}

.text-indiv-container {
  width: 80%;
  height: 90%;
  background-color: rgb(31, 123, 209);
	padding: 10px;
	margin-left: 1rem;
	border-radius: 8px;
	margin-top: 1rem;
	margin-right: 1.5rem;
}

.types-container {
  align-self: center;
  width: 50%;
  margin: 7px;
  margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	height: 10%;
	gap: 10px;
}

.type {
	margin: 0 auto;
	width: 45%;
  height: 19%;
  font-family: Cairo, monospace;
  text-align: center;
  font-weight: bold;
	line-height: 15px;
  color: black;
  padding: 10px;
	border-radius: 10px;
	border: 1px solid #574aaa;
}

.text-container-individual{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;
	height: 30%;
}

.text-ability {
  text-align: center;
  font-family: Cairo, monospace;
  font-weight: 600;
  color: white;
  font-size: 1.8vw;
	text-decoration: underline;
}

.text-content {
  text-align: center;
  font-family: Cairo, monospace;
  font-weight: bolder;
  color: black;
  font-size: 1.8vw;
	margin-left: 10px;
}

.button-container {
	height: 10%;
	margin-top: 50px;
	padding: 10px;
}

.stats-indiv {
	margin: 0 auto;
	display: grid;
	width: 100%;
	height: 50%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 1000px){
	.individual-root {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		width: 85%;
		height: 100%;
	}

	.individual-container {
		width: 90%;
		margin-left: 0rem;
	}

	.text-indiv-container {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
	}

	.stats-indiv {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.text-info {
		font-size: 3vw;
	}

	.text-info-id {
		font-size: 3vw;
	}

	.text-info-stats {
		font-size: 2.5vw;
	}

	.text-info-stats-name{
		font-size: 2.5vw;
	}

	.text-ability {
		font-size: 2.6vw;
	}

	.text-content {
		font-size: 2.6vw;
	}

	.image-container {
		width: 100%;
		margin-bottom: 1.7rem;
	}

	.image-individual {
		margin: 0 auto;
		width: 70%;
		height: auto;
		border-bottom: 1px solid rgba(#777, 0.1);
		padding: 8px;
	}
}

@media screen and (max-width: 800px){
	.individual-root {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		width: 85%;
		height: 100%;
	}

	.individual-container {
		width: 90%;
		margin-left: 0rem;
	}

	.text-indiv-container {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
	}

	.stats-indiv {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.text-info {
		font-size: 3vw;
	}

	.text-info-id {
		font-size: 3vw;
	}

	.text-info-stats {
		font-size: 2.5vw;
	}

	.text-info-stats-name{
		font-size: 2.5vw;
	}

	.text-ability {
		font-size: 2.6vw;
	}

	.text-content {
		font-size: 2.6vw;
	}

	.image-container {
  	width: 100%;
  	margin-bottom: 1.7rem;
	}

	.image-individual {
		margin: 0 auto;
		width: 70%;
		height: auto;
		border-bottom: 1px solid rgba(#777, 0.1);
		padding: 8px;
	}
}

@media screen and (max-width: 600px){
	.individual-root {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		width: 85%;
		height: 100%;
	}

	.individual-container {
		width: 90%;
		margin-left: 0rem;
	}

	.text-indiv-container {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
	}

	.stats-indiv {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.text-info {
		font-size: 3vw;
	}

	.text-info-id {
		font-size: 3vw;
	}

	.text-info-stats {
		font-size: 2.5vw;
	}

	.text-info-stats-name{
		font-size: 2.5vw;
	}

	.text-ability {
		font-size: 2.6vw;
	}

	.text-content {
		font-size: 2.6vw;
	}

	.image-container {
  	width: 100%;
  	margin-bottom: 1.7rem;
	}

	.image-individual {
		margin: 0 auto;
		width: 70%;
		height: auto;
		border-bottom: 1px solid rgba(#777, 0.1);
		padding: 8px;
	}
}


@media screen and (max-width: 400px){
	.individual-root {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		width: 85%;
		height: 100%;
	}

	.individual-container {
		width: 90%;
		margin-left: 0rem;
	}

	.text-indiv-container {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		margin-top: 0.3rem;
		margin-bottom: 0.3rem;
	}

	.stats-indiv {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.text-info {
		font-size: 3vw;
	}

	.text-info-id {
		font-size: 3vw;
	}

	.text-info-stats {
		font-size: 2.5vw;
	}

	.text-info-stats-name{
		font-size: 2.5vw;
	}

	.text-ability {
		font-size: 2.6vw;
	}

	.text-content {
		font-size: 2.6vw;
	}

	.image-container {
  	width: 100%;
  	margin-bottom: 1.7rem;
	}

	.image-individual {
		margin: 0 auto;
		width: 70%;
		height: auto;
		border-bottom: 1px solid rgba(#777, 0.1);
		padding: 8px;
	}

}