.new-review-root{
	margin: 0 auto;
	width: 70%;
  padding: 20px;
  height: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 2px 2px 2px 1px #8b089de2;
  background-color: lightpink;
  justify-content: center;
}

.image-container-new-review {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
  width: 45%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}

.image-review {
	margin: 0 auto;
	width: 40%;
	height: auto;
}

.form-container {
  background-color: rgb(80, 72, 72);
  width: 85%;
  height: auto;
  box-shadow: 2px 2px 2px 1px #8b089de2;
  margin: 0 auto;
  padding: 7px;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
}

.rating-input {
  display: block;
  width: 60%;
  height: 10%;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 1px #8b089de2;
}

.text {
  text-align: center;
  font-family: Cairo, monospace;
  font-weight: bolder;
  color: red;
  font-size: 1.8vw;
}

.input {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  display: block;
  margin: 10px auto;
  height: 50px;
  height: 150px;
  align-self: center;
  border-radius: 0%;
}