.new-review-root{
	margin: 0 auto;
	width: 70%;
  padding: 20px;
  height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
  margin-top: 7.5rem;
  margin-bottom: 3rem;
	background: rgb(204, 108, 108);
  justify-content: center;
	border-radius: 8px;
}

.image-container-new-review {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}

.image-container-root{
	background-color: blanchedalmond;
	width: 90%;
  height: auto;
  margin: 0 auto;
	border-radius: 8px;
}

.image-review {
	margin: 0 auto;
	width: 40%;
	height: auto;
}

.form-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 7px;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
	color: black;
}

.form-container-root {
	width: 90%;
	margin-top: 0.5rem;
	border-radius: 8px;
  background-color: rgb(31, 123, 209);
}

.rating-input {
  display: block;
  width: 60%;
  height: 10%;
  margin: 0 auto;
	color: black;
}

.text {
  text-align: center;
  font-family: Cairo, monospace;
  font-weight: bolder;
  color: black;
  font-size: 1.8vw;
}

.input {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  display: block;
  margin: 10px auto;
  height: 50px;
  height: 150px;
  align-self: center;
  border-radius: 0%;
}