html, body {
    margin:0px;
    height:100%;
    background-color: #222222;
}

.image-individual {
    width: 90%;
    height: 90%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 601px) {
    .root {
        display: flex;
        justify-content: center;
        padding: 10;
        width: 1100;
        margin: 0 -5px;
    }
}
  
@media screen and (max-width: 600px) {
    .root {
        display: flex;
        justify-content: center;
        padding: 10;
        width: 600;
        margin: 0 -5px;
    }
}


.statsContainer {
    padding: 10;
    width: 25%;
    text-align: center;
    background-color: #E5709B;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 7px;
    border-radius: 12%;
    border-style: double;
}

.imageContainer {
    width: 30%;
    height: auto;
    margin: 7px 5px;
    justify-content: center;
    border-radius: 12%;
    border-style: double;
}

.typesContainer {
    align-self: center;
    width: 100%;
    margin: 7px;
}

.type-text-container {
    width: 50%;
    margin: 7px;
    border-radius: 6%;
    border-style: ridge;
    border-color: #c2185b;
    background-color: #E5709B;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
}

.text {
    text-align: flex-start;
    font-family: Roboto, monospace;
    font-weight: bolder;
    color: white;
    font-size: 16px;
    margin-left: 5px;
}

.text-content {
    text-align: flex-start;
    font-family: Roboto, monospace;
    font-weight: lighter;
    color: black;
    font-size: 15px;
    margin-left: 5px;
}

.text-container {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 95%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 601px) {
    .textDisplay {
        font-size: 20px;
        font-weight: lighter;
    }
}
  
@media screen and (max-width: 600px) {
    .textDisplay {
        font-size: 9px;
        font-weight: lighter;
    }
}

.input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    height: 50px;
    height: 150px;
    align-self: center;
}

.rating-input {
    display: block;
    max-width: 40;
    margin: 0 auto;
}

.review-button {
    width: 60%
}