html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #dcd3d3;
}

.root-form {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.error-form {
	font-family: Cairo, monospace;
	font-weight: bold;
	font-size: 14px;
	color: red;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.input-button {
  font-family: 'Cairo';
  font-weight: 'bolder';
  font-size: 1.2vw;
  color: black;
	line-height: 50%;
	text-align: center;
	height: 30px;
	width: 60px;
	margin-left: 5px;
}

.filter-form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.filter-input {
	font-family: Cairo, sans-serif;
	font-weight: bolder;
	width: 50%;
	border-radius: 10px;
}

.notification-style {
	z-index: 99 !important;
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
}

@media screen and (max-width: 400px){
  .filter-input{
		width: 30px;
		height: 10px;
		font-size: 5px;
	}

	.input-button{
		height: 15px;
		width: 30px;
		font-size: 5px;
	}
}